*{
    margin: 0;
    padding:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header{
    min-height: 100vh; /* this set the min-hieght 100% of the view port */
    width : 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(images/varsity.jpeg);
    background-position: center;
    background-size: cover;
    position:relative; 
} 
 .icons{
     min-height: 2vh;
     width: 100%;
     background-color: rgb(34, 44, 51);
     border-radius: 0.5%;   
 }
 nav{
     display:flex;
     padding: 2% 6%;
     justify-content:space-between;
     align-items: center;
 }
  nav img{ /* this is the logo*/
       width : 150px;

  }
  .nav-links{
       flex: 1;
        text-align:right; /* moved all the links to the right*/
   }
    .nav-links ul li{
        list-style:none;
        display: inline-block;
        padding: 12px 12px;
        position: relative;
    }

    .nav-links ul li a{
        color:white;
        text-decoration:none;
        font-size: 25px;
        font-family:Georgia, 'Times New Roman', Times, serif;
    }
     /* to add hover effect */
     .nav-links ul li ::after{
         content: '';
         width :  0%;
         height : 4px;
         background: #f44336;
         display : block;
         margin: auto;
         transition: 0.5s;
     }
     .nav-links ul li:hover ::after{ /* this makes the hover line to cover the text*/
        width :  100%;
     }
     .text-box{
     color: white;
     width: 90% ;
     position: absolute;
     top : 50%;
     left :50%;
     transform: translate(-50% , -50%);
     text-align: center;
     }

     .text-box h1{
      font-size: 52px;
      font-family: Arial, Helvetica, sans-serif;
     }

    .text-box p{
        margin: 10px 0 40px;
        font-size:14px;
        color: #fff;
    }

    .hero-btn{
        display:inline-block;
        text-decoration: none;
        color: white;    
        border: 1px solid #fff;
        padding: 20px 34px;
        font-size: 13px;
        background: transparent;
        position: relative;
        cursor: pointer;
    }
    .hero-btn:hover{
        border: 1px solid #f44336;
        background: #f44336;
        transition: 1s;
    }
nav .fa{  /*to make icons not to show on the browser page when expanded  */
    display:none;
}
    @media(max-width: 600px){
        .text-box h1{
            font-size: 20px;
            font-family: Arial, Helvetica, sans-serif;
           }
           .nav-links ul li{  /* to make the links appear in a block*/
               display: block;
           }
           .nav-links{
               position: absolute;
               background: #f44336;
               height: 100vh;
               width: 200px;
               right: -200px;
               top:0;
               text-align: left;
               z-index: 2;
               transition: 1s;
           }
           nav .fa {
               display: block;
               color: #fff;
               margin: 10px;
               font-size: 22px;
               cursor: pointer;
           }
           .nav-links ul{
               padding: 40px;
           }
        }
 .courses{
     width: 80%;
     margin: auto;
     text-align : center;
     padding-top: 100px;
 }
  .course h1{
      padding : 50%;
  }
   