*{
    margin: 0;
    padding:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header{
    min-height: 100vh; /* this set the min-hieght 100% of the view port */
    width : 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(images/varsity.jpeg);
    background-position: center;
    background-size: cover;
    position:relative; 
} 
 .icons{
     min-height: 2vh;
     width: 100%;
     background-color: rgb(34, 44, 51);
     border-radius: 0.5%;   
 }
 .icons ul li{
     list-style: none;
     display:inline-block;
     padding: 10px 10px;
     position:relative;

 }
 .icons ul li a{
     text-align:right;
     flex:1;
 }
 .icons1{
     float:right;
 }
 nav{
     display:flex;
     padding: 2% 6%;
     justify-content:space-between;
     align-items: center;
 }
  nav img{ /* this is the logo*/
       width : 150px;

  }
  .nav-links{
       flex: 1;
        text-align:right; /* moved all the links to the right*/
   }
    .nav-links ul li{
        list-style:none;
        display: inline-block;
        padding: 12px 12px;
        position: relative;
    }

    .nav-links ul li a{
        color:white;
        text-decoration:none;
        font-size: 25px;
        font-family:Georgia, 'Times New Roman', Times, serif;
    }
     /* to add hover effect */
     .nav-links ul li ::after{
         content: '';
         width :  0%;
         height : 4px;
         background: #f44336;
         display : block;
         margin: auto;
         transition: 0.5s;
     }
     .nav-links ul li:hover ::after{ /* this makes the hover line to cover the text*/
        width :  100%;
     }
     .text-box{
     color: white;
     width: 90% ;
     position: absolute;
     top : 50%;
     left :50%;
     transform: translate(-50% , -50%);
     text-align: center;
     }

     .text-box h1{
      font-size: 52px;
     }

    .text-box{
        margin: 10px 0 px 40px;
        font-size:14px;

    }

    .text-box a{
     color: white;
     
    }