*{
    margin: 0;
    padding:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header{
    min-height: 100vh; /* this set the min-hieght 100% of the view port */
    width : 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(images/varsity.jpeg);
    background-position: center;
    background-size: cover;
    position:relative; 
} 
 .icons{
     min-height: 2vh;
     width: 100%;
     background-color: rgb(34, 44, 51);
     border-radius: 0.5%;   
 }
 nav{
     display:flex;
     padding: 2% 6%;
     justify-content:space-between;
     align-items: center;
 }
  nav img{ /* this is the logo*/
       width : 150px;

  }
  .nav-links{
       flex: 1;
        text-align:right; /* moved all the links to the right*/
   }
    .nav-links ul li{
        list-style:none;
        display: inline-block;
        padding: 12px 12px;
        position: relative;
    }

    .nav-links ul li a{
        color:white;
        text-decoration:none;
        font-size: 25px;
        font-family:Georgia, 'Times New Roman', Times, serif;
    }
     /* to add hover effect */
     .nav-links ul li ::after{
         content: '';
         width :  0%;
         height : 4px;
         background: #f44336;
         display : block;
         margin: auto;
         transition: 0.5s;
     }
     .nav-links ul li:hover ::after{ /* this makes the hover line to cover the text*/
        width :  100%;
     }
     .text-box{
     color: white;
     width: 90% ;
     position: absolute;
     top : 50%;
     left :50%;
     transform: translate(-50% , -50%);
     text-align: center;
     }

     .text-box h1{
      font-size: 52px;
      font-family: Arial, Helvetica, sans-serif;
     }

    .text-box p{
        margin: 10px 0 40px;
        font-size:14px;
        color: #fff;
    }

    .hero-btn{
        display:inline-block;
        text-decoration: none;
        color: white;    
        border: 1px solid #fff;
        padding: 20px 34px;
        font-size: 13px;
        background: transparent;
        position: relative;
        cursor: pointer;
    }
    .hero-btn:hover{
        border: 1px solid #f44336;
        background: #f44336;
        transition: 1s;
    }
nav .fa{  /*to make icons not to show on the browser page when expanded  */
    display:none;
}
    @media(max-width: 600px){
        .text-box h1{
            font-size: 20px;
            font-family: Arial, Helvetica, sans-serif;
           }
           .nav-links ul li{  /* to make the links appear in a block*/
               display: block;
           }
           .nav-links{
               position: absolute;
               background: #f44336;
               height: 100vh;
               width: 200px;
               right: -200px;
               top:0;
               text-align: left;
               z-index: 2;
               transition: 1s;
           }
           nav .fa {
               display: block;
               color: #fff;
               margin: 10px;
               font-size: 22px;
               cursor: pointer;
           }
           .nav-links ul{
               padding: 40px;
           }
        }
        /* courses block*/
 .courses{
     width: 80%;
     margin: auto;
     text-align : center;
     padding-top: 100px; 
 }
  .courses h1{
      padding-bottom: 2%;
      font-size: 36px;
      font-weight:600;
  }
   .courses p{
        color: #777;
        font-size: 14px;
        line-height: 22px;
        padding: 10px;
   }

.row{
    margin-top: 5%;
    display:flex;
    justify-content:space-between;
}

.course-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 20px;
    margin-bottom : 9%;
    padding: 20px 15px;
    box-sizing:border-box;
    transition: 0.5s;
}
 .course-col h3{
     text-align: center;
     font-weight: 600;
     margin: 10px 0px;
 }
.course-col:hover{ /* this adds a shadow when you hover on the particular box*/
     box-shadow: 0 0 20px 0px rgba(0,0,0,0.2); 
 }

@media( max-width: 700px){
    .row{
        flex-direction:column; /*  It appears as column  just this line makes it responsive for smaller screens*/
    }
}

.campus{
    width: 80%;
    margin:auto;
    text-align:center;
    padding-top: 50px;
}
.campus-col{
    flex-basis: 32%;
    border-radius: 30px;
    margin-bottom: 30px;
    position: relative;
    overflow:hidden;
}
.campus p{
    text-align: center;
    padding: 2%;
    overflow: hidden;
    font-size: medium;
}
.campus-col img{
    width: 100%;
    display: block;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background: rgba(226,0,0,0.7);
    opacity: 80;
}
.layer h3{ /*styles the write up */
width: 100%;
font-weight: 500;
color: Black ;
font-size: 26px;
text-decoration: solid black;
bottom: 0;
left: 50%;
transform: translateX(-50%);
position: absolute;
transition: 0.5s;
opacity: 0;
}
 .layer:hover h3 {
     bottom: 60%;
     opacity:1;
 }

 /*........facilities .....*/
 .facilities{
     width: 80%; 
     margin : auto;
     text-align: center;
     padding-top:100px;
 }
 .facilities-col{
     flex-basis: 30%;
     overflow: hidden;
     border-radius: 10px;
     margin-bottom: 5%;
     text-align: left;
 }

 .facilities-col img{
     width: 100%;
     border-radius:10px;
 }
 .facilities-col p{
     padding: 0;
 }
 .facilities-col h3{
     margin-top: 16px;
     margin-bottom : 15px;
     text-align: left;
 }
 .facilities-col:hover img{
     background: rgba(226,0,0,0.7);
     opacity: 80;
 }

   /*  testimonials */
   .testimonials{
      width: 80%;
      margin: auto;
      padding-top: 5%;
      text-align: center;
   }
   .testimonials-col{
       flex-basis: 10%;
       position:relative;
   }
   .testimonials-col p{
       padding-top: 5%;
   }